# Example environment variables for your project
CHROMA_API_URL=http://chroma:8002
GEMINI_API_KEY=
GROQ_API_KEY=
WEB_SEARCH_API_URL=http://localhost:8001
DOCUMENT_PROCESSING_API_URL=http://localhost:8003
USE_SQLITE_MEMORY=false
SQLITE_DB_PATH=memory.db
